

.animation-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.animation-container2 img {
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.effect-container .cuteramen:hover {
  animation: spin 2s linear infinite;
}

.animation-container2:hover img {
  animation: grow 2s ease-out infinite;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


.effect-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  margin-top: 100px;
}

.effect-container img {
  max-width: 100%;
  height: auto;
  margin: 50px;
}


.glitch-effect {
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 0 blue, -2px -2px 0 red;
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% {
    transform: skew(0deg);
  }
  20% {
    transform: skew(-10deg);
  }
  40% {
    transform: skew(5deg);
  }
  60% {
    transform: skew(-20deg);
  }
  80% {
    transform: skew(10deg);
  }
  100% {
    transform: skew(0deg);
  }
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.effect-container .no-border {
  border: none;
}

.effect-container .cuteramen {
  border: none; 
}

.effect-container img[src="images/snowman.jpg"]:hover {
  animation: glitch 0.5s infinite;
}

.effect-container img[src="images/deisi.jpg"]:hover {
  animation: grow 0.5s infinite;
}

.poema {
  column-count: 2;
  column-width: 12em;
  display: flex;
  flex-direction: column;
  max-width: 40ch;
  text-align: center;
  line-height: 1.5;
  margin: auto;
  
}

.poema span {
  font-size: 30px;
}

.poema span:nth-child(odd) {
  animation: shine 4s linear infinite;
}

.poema span:nth-child(even) {
  animation: shine2 4s linear infinite;
}

@keyframes shine {
  0% {
    color: red;
    text-shadow: 0 0 10px red;
  }
  50% {
    color: yellow;
    text-shadow: 0 0 20px yellow;
  }
  100% {
    color: red;
    text-shadow: 0 0 10px red;
  }
}

@keyframes shine2 {
  0% {
    color: blue;
    text-shadow: 0 0 10px blue;
  }
  50% {
    color: green;
    text-shadow: 0 0 20px green;
  }
  100% {
    color: blue;
    text-shadow: 0 0 10px blue;
  }
}

.poema {
  margin-top: 100px;
}

p {
  margin-top: 50px; 
}

.box {
  border: 1px solid gray;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.3);
  display: inline-block;
  max-width: 40%;
  transition: box-shadow 0.5s ease; /* add transition for smooth effect */
}

.box:hover {
  box-shadow: 0 0 10px 2px gray; /* set box-shadow value to change on hover */
}
